.background {
  background-color: rgb(238, 238, 238);
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.import-data {
  float: right;
  margin: 10px;
  margin-right: 20px;
}

.check {
  width: 200px;
}

.query-btn {
  margin: 10px;
}
