.whole-map {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.whole-map-mobile {
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  width: 40%;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  transition: width 0.5s;
}

.header-small {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  width: 6%;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  transition: width 0.5s;
}

.header-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

.title {
  margin-top: 8px;
}

.loading {
  margin-right: 5px;
}

.form {
  width: 400px;
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.import-data {
  float: right;
  margin: 10px;
}

.check {
  width: 200px;
}

.query-btn {
  margin: 10px;
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.toggle:hover {
  background-color: darkgray;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
