.whole-map {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.whole-map-mobile {
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  width: 30%;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}

.header-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

.title {
  margin-top: 8px;
}

.loading {
  margin-right: 5px;
}

.form {
  width: 400px;
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.import-data {
  float: right;
  margin: 10px 0;
}

.check {
  width: 200px;
}

.query-btn {
  margin: 10px;
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
